%div
  - if current_user.visitor?
    = link_to 'I want to log in', login_path
  - else
    Hello #{current_user.name}!
    %div
      You have #{current_user.credits} credits left

%div
  = flash[:error]
%div
  = flash[:notice]

%table
  %tr
    %th
      Product
    %th
      Price
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td
        Price:
        = product.cheapest_price
      %td[product]
        = form_for Purchase.new do |f|
          = hidden_field_tag 'purchase[product_id]', product.id
          = f.submit 'Buy'

